html,body{
	width: 100%;
	height: 30px;
}
body{
	background: #F8F8F8;
}
#top{
	background: #F8F8F8;
	width:100%;
	height: 30px;
}
#top .topbar{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
#top .topbar .user-entry{
    height: 30px;
    float: left;
}
#top .topbar .user-entry span{
	line-height: 30px;
	font-size: 14px;
	padding-left: 20px;
}
#top .topbar .quick-menu{
	height: 100%;
	float: right;
	text-align: right;
}
#top .topbar .quick-menu dl{
	line-height: 30px;
	position: relative;
	float: left;
	display: inline-block;
	padding: 0 15px;
}
#top .topbar .quick-menu dl:hover{
	background: #fff;
}
#top .topbar .quick-menu dl:hover ul{
	display: block;
	border: 1px solid #f8f8f8;
}
#top .topbar .quick-menu li:hover{
	background: #F8F8F8;
}
#top .topbar .quick-menu a:hover{
	color: #ff0000;
}
#top .topbar .quick-menu dl:hover i{
	transform: rotate(180deg);
	transform-origin: 50% 30%;
	cursor: pointer;
}
#top .topbar .quick-menu i{
	width: 6px;
	height: 3px;
	vertical-align: middle;
	display: inline-block;
	margin-left: 6px;
	background: url(../img/top_bg.png) no-repeat 0 0;
}
#top .topbar .quick-menu ul{
	z-index: 1;
	display: none;
	position: absolute;
	top: 30px;
	left: 0;
	width: 100%;
	text-align: center;
	background-color: #fff;
}
#top .topbar .quick-menu em.icon-nav-top{
	width: 18px;
	height: 18px;
	vertical-align: middle;
	display: inline-block;
	background: url(../img/nav.png);
	position: relative;
	top: -1px;
}
#top .topbar .quick-menu .my-cart .incart-text img{
	width: 16px;
	height: 14px;
	vertical-align: middle;
}
#top .topbar .quick-menu dl.my-cart{
	width: 94px;
}
#top .topbar .quick-menu dl.my-cart:hover .incart-goods-box{
	display: block;
}
#top .topbar .quick-menu .incart-goods-box{
	width:348px;
	height:180px;
	position:absolute;
	top:30px;
	left:0px;
	border: 1px solid #f8f8f8;
	background-color: #fff;
	display: none;
}
#top .topbar .quick-menu .incart-goods-box .incart-goods-title{
	height: 40px;
	text-align: left;
	border-bottom: 1px solid #F8F8F8;
}
#top .topbar .quick-menu .incart-goods-box .incart-goods-title h4{
	line-height: 40px;
	padding-left: 5px;
}
#top .topbar .quick-menu .incart-goods-box .incart-goods{
	height: 70px;
	text-align: center;
	vertical-align: middle;
}
#top .topbar .quick-menu .incart-goods-box .checkout{
	background: #F8F8F8;
	height: 70px;
}
#top .topbar .quick-menu .incart-goods-box .checkout .btn-cart,.total-price {
	margin-right: 10px;
}
#top .topbar .quick-menu .incart-goods-box .checkout .btn-cart{
	background: red;
	float: right;
	padding: 2px 5px;
	border-radius: 5px;
}
#top .topbar .quick-menu .incart-goods-box .checkout .btn-cart a{
	color: #FFFFFF;
}
.ad{
	background: url(../img/t1.jpg) no-repeat center;
	height: 70px;
	width: 100%;
	margin: 0 auto;
}
#header{
	width: 1200px;
	height: 110px;
	margin: 0 auto;
}
#header .site-logo{
	width: 212px;
	height: 75px;
	float: left;
	margin: 25px 60px auto 0;
}
#header .head-search-bar {
	width: 500px;
	float: left;
	margin: 20px auto;
}
#header .head-search-bar .search-form{
	background: #D93600;
	height: 36px;
	padding: 3px;
}
#header .head-search-bar .search-form .input-text{
	height: 24px;
	padding: 4px 0 4px 2px;
	line-height: 24px;
	width: 82%;
}
#header .head-search-bar .search-form .input-submit{
	width: 15%;
	height: 36px;
	line-height: 36px;
	color: #fff;
	font-weight:bold;
	display: inline-block;
	text-align: center;
}
#header .head-search-bar .keyword{
	width: 100%;
	height: 20px;
	line-height: 20px;
	margin-top: 5px;
	overflow: hidden;
	color: #D93600;
}
#header .head-search-bar .keyword span{
	padding-right: 10px;
}
#header .head-user-menu{
	float: right;
	margin-top: 20px;
}
#header .head-user-menu li{
	float: left;
	width: 80px;
	margin-left: 20px;
}
#header .head-user-menu li a{
	color: #666;
}
#header .head-user-menu li img{
	width: 41px;
	height: 40px;
	vertical-align: middle;
	display: block;
	float: left;
    margin: 0 5px;
}
#nav-wrapper{
	/*height: 45px;
	width: 100%;
	margin-top: 80px;
	border-bottom: 2px solid #D4121B;*/
    width: 100%;
    margin: 0 auto;
    height: 45px;
    position: relative;
    z-index: 99;
    border-bottom: 2px solid #D4121B;
}
#nav-wrapper .nav-container{
	width: 1200px;
	margin: 0 auto;
}
#nav-wrapper .nav-container .categorys{
	display: block;
    width: 208px;
    height: 45px;
    border: solid #FE3C32;
    border-width: 0 1px;
    position: absolute;
}
#nav-wrapper .nav-container .categorys .cg-title,.nav-item{
	line-height: 25px;
    height: 25px;
    padding: 10px;
    width: 190px;
}
#nav-wrapper .nav-container .categorys .cg-title{
	 background-color: #FE3C32;
}
#nav-wrapper .nav-container .categorys .cg-content{
	margin-top: 2px;
	background-color: #2C2C2C;
    width: 210px;
}
#nav-wrapper .nav-container .categorys .nav-item{
    position: relative;
    z-index: 1;
    line-height: 32px;
    height: 32px;
    padding: 10px;
    width: 190px;
}
#nav-wrapper .nav-container .categorys .nav-item:hover{
	background: #000;
}
#nav-wrapper .nav-container .categorys .cg-icon{
	float: left;
    display: block;
    width: 30px;
    height: 10px;
    margin-left: 5px;
}
#nav-wrapper .nav-container .categorys .cg-title a,
#nav-wrapper .nav-container .categorys .cg-content .cg-con-nav a{
	font-weight: bold;
    color: #FFF;
    float: left;
    margin-left: 4px;
    height: 20px;
    display: inline;
    font-size: 14px;
}
#nav-wrapper .nav-container .categorys .cg-content{
	position: relative;
}
#nav-wrapper .nav-container .categorys .cg-title i{
	font-size: 0px;
    line-height: 0;
    width: 0px;
    height: 0px;
    float: right;
    margin: 10px 4px 0 0;
    border-width: 5px;
    border-color: #FFF transparent transparent transparent;
    border-style: solid dashed dashed dashed;
}
#nav-wrapper .nav-container .categorys .cg-content .cg-con-drop .drop-item{
	background: #fff;
	width: 760px;
	position: absolute;
	top: 0;
	left: 211px;
	z-index: 1!important;
	border: 1px solid #d8d8d8;
	max-height: 420px;
	overflow: hidden;
	display: none;
}
.cg-con-drop .drop-item .drop-item-wrap{
	float: left;
	margin: 10px 20px 0 0;
}
.cg-con-drop .drop-item .drop-item-wrap .drop-wrap-title{
	float: left;
	width: 710px;
	padding: 10px 25px;
}
.cg-con-drop .drop-item .drop-item-wrap .drop-wrap-title span{
	display:inline-block;
    width:5px;
    height: 20px;
    background: #ff3b2f;
    float: left;
}
.cg-con-drop .drop-item .drop-item-wrap .drop-wrap-title a{
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	color: #555;
	float: left;
	padding-left: 10px;
	font-weight: bold;
}
.cg-con-drop .drop-item .drop-item-wrap dl{
	margin: 0 12px;
	padding: 5px;
	float: left;
	display: block;
}
.cg-con-drop .drop-item .drop-item-wrap dl dt{
	width: 83px;
	text-align: right;
	float: left;
}
.cg-con-drop .drop-item .drop-item-wrap dl span.arrow{
	font-family: "宋体";
    line-height: 20px;
    color: #AAA;
    margin: 0 6px;
    font-size: 12px;
    letter-spacing: normal;
    word-spacing: normal;
    height: 20px;
}
.cg-con-drop .drop-item .drop-item-wrap dl dd{
	float: left;
	width: 263px;
}
.cg-con-drop .drop-item .drop-item-wrap dl dd a{
	display: inline-block;
    height: 16px;
    line-height: 16px;
    border-left: 1px solid #e0e0e0;
    padding: 0px 8px;
    margin: 5px 0;
}
.cg-con-drop .drop-item .drop-item-wrap dl dd a:hover{
	color: #fe3c32;
}
#nav-wrapper .nav-container .site-menu{
	position: relative;
	top: 0;
	left: 210px;
	width: 990px;
	height: 45px;
}
#nav-wrapper .nav-container .site-menu li{
	line-height: 45px;
	float: left;
	padding-right: 40px;
	font-weight: bold;
	font-size: 16px;
}
#nav-wrapper .nav-container .site-menu li.first{
	padding-left: 20px;
	color: red;
}
#banner{
	width: 100%;
	height: 416px;
	background-color: #E02724;
}
#banner .banner-box{
	position: relative;
	width: 1200px;
	height: 416px;
	margin: 0 auto;
}
#banner .banner-box .banner-box-l{
	position: absolute;
	top: 0;
	left: 210px;
	width: 776px;
	height: 416px;
}
#banner .banner-box .banner-box-l .img-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	width: 776px;
	height: 416px;
}
#banner .banner-box .banner-box-l .img-wrapper img{
	position: absolute;
	width: 776px;
	height: 416px;
	left: 0;
	top: 0;
	display: none;
}
#banner .banner-box .banner-box-l .arrow-t{
	width: 30px;
	height: 50px;
	background: #FFFFFF;
	opacity: 0.3;
	position: absolute;
	top: 50%;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	display: none;
}
#banner .banner-box .banner-box-l .arrow-left{
	left: 25px;
}
#banner .banner-box .banner-box-l .arrow-right{
	right: 25px;
}
#banner .banner-box .banner-box-l ul{
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 776px;
	overflow: hidden;
}
#banner .banner-box .banner-box-l ul li{
	float: left;
	background: #000;
	opacity: 0.3;
	width: 128.3px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-right: 1px solid #fff;
	cursor: pointer;
}
#banner .banner-box .banner-box-l ul li a{
	color: #fff;
}
#banner .banner-box .banner-box-l ul li.hover{
    opacity: 0.6;
}
#banner .banner-box .banner-box-r{
	position: absolute;
	top: 0;
	right: 0;
	height: 416px;
	width:213px;
	background: #FFFFFF;	
}
#banner .banner-box .banner-box-r .welcome{
	border-bottom: dashed 1px #ccc;
	height: 65px;
	width: 100%;
}
.banner-box-r .welcome img,.banner-box-r .welcome span{
	float: left;
	margin-top: 8px;
}
.banner-box-r .welcome img{
	margin-left: 10px;
	margin-right: 8px;
}
#banner .banner-box .banner-box-r .login-in{
	width: 100%;
	height: 40px;
	text-align: center;
}
.banner-box-r .login-in span{
	line-height: 40px;
	border-right: 1px solid #ccc;
	width: 102px;
	margin: 0;
	padding: 0;
	display: inline-block;
}
#banner .banner-box .banner-box-r .proclamation{
	border-top: 1px solid #ccc;
}
.banner-box-r .proclamation p{
	padding: 8px 0 0 10px;
}
#banner .banner-box .banner-box-r .life-server{
	width: 100%;
	height: 100px;
}
.banner-box-r .life-server .life-server-item{
	float: left;
	height: 90px;
	width: 69px;
	border: 1px solid #ccc;
	text-align: center;
	position: relative;
}
.banner-box-r .life-server div.hover{
	border-radius: 5px;
	border: 1px solid #FF0000;
	color: #FF0000;
}
.banner-box-r .life-server .life-server-item img{
	position: absolute;
	width: 27px;
	height: 27px;
	left: 50%;
	margin-left:-13px ;
	top: 20px;
	display: block;
}
.banner-box-r .life-server .life-server-item span{
	position: absolute;
	top: 50px;
	display: inline-block;
	left: 23px;
}
.banner-box-r .sider-ad{
	width: 213px;
	height: 144px;
	border-bottom: 1px solid #ccc;
}
.banner-box-r .sider-ad img{
	width: 213px;
	height: 144px;
}
#container{
	width: 1200px;
	margin: 0 auto;
	-background-color: #fff;
	padding-top: 1px;
}
#container .ad-list{
	margin: 10px 0;
	width: 100%;
	height: 180px;
}
#container .ad-list .app{
	float: left;
	width: 200px;
	height: 100%;
	text-align: center;
}
#container .ad-list ul{
	float: left;
	height: 180px;
}
#container .ad-list ul li{
	float: left;
	border-left: 1px solid #ccc;
}
#container .new-salelist{
	width: 100%;
	margin: 5px 0;
}
#container .new-salelist .left-news{
	float: left;
	width: 280px;
	padding-left: 35px;
}
#container .new-salelist .left-news h2{
	color: #333;
    font-size: 25px;
    font-family: "微软雅黑";
    width: 280px;
    border-bottom: 1px dashed #DCDCDC;
    line-height: 52px;
    margin-bottom: 10px;
}
#container .new-salelist .left-news li{
	height: 18px;
	line-height: 18px;
	width: 280px;
	padding: 7px 0;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#container .new-salelist .left-news ul li span{
	width: 35px;
	height: 16px;
	display: inline-block;
	padding-right: 10px;
	vertical-align: middle;
    position: relative;
    top: -1px;
}
#container .new-salelist .left-news .favorable ul li span.cut{
	background: url(../img/cutprice.png) no-repeat;	
}
#container .new-salelist .left-news .favorable ul li span.special{
	background: url(../img/special.png) no-repeat;	
}
#container .new-salelist .left-news ul li a{
	color: #000;
	padding-right: 8px;
}
#container .new-salelist .left-news .favorable ul li em{
	color: #666666;
}
#container .new-salelist .right-ad-list{
	margin-left: 40px;
	width: 845px;
	float: right;
}
#container .new-salelist .right-ad-list ul{
	width: 100%;
	overflow: hidden;
}
#container .new-salelist .right-ad-list ul.big li{
	float: left;
	padding-right: 16px;
	margin-bottom: 5px;
}
#container .new-salelist .right-ad-list ul.small li{
	padding-right: 6px;
	float: left;
	margin-top: 18px;
}
#container .ad-img{
	width: 100%;
	height: 70px;
}
#container .ad-img img{
	width: 1200px;
	height: 70px;
}
#container .floor-menu .floor-menu-item{
	background: #FFFFFF;
	padding-bottom: 5px;
	width: 1200px;
	height: 640px;
	margin-bottom: 20px;
}
#container .floor-menu .floor-menu-item .header-bar{
	width: 100%;
	height: 37px;
	position: relative;
	border-bottom: 2px solid #4595C6;
}
.floor-menu-item .header-bar .title{
	width: 125px;
	font-size: 18px;
	font-family: "微软雅黑";
	padding-bottom: 7px;
	position: absolute;
	top: 0;
	left: 0;
	-float: left;	
}
.floor-menu-item .header-bar .other-classes{
	position: absolute;
	left: 800px;
	-margin-left: 780px;
	-float: left;
	height: 37px;
}
.floor-menu-item .header-bar .other-classes li{
	float: left;
	line-height: 37px;
	padding: 0 10px;
    color: #666;
    font-size: 14px;
    font-family: "arial black";
    cursor: pointer;
}
.floor-menu-item .header-bar .other-classes li.selected{
	    background: #4595C6;
	    color: #FFFFFF;
}
.floor-menu-item .header-bar span.more{
	float: right;
	font:14px/37px "arial black";
	position: absolute;
	right: 0;
}
.floor-menu-item .left-sidebar{
	width: 220px;
	height: 589px;
	border-width: 0 1px 1px 1px;
    border-color: #ddd;
    border-style: solid; 
    position: relative;
    float: left;
}
.floor-menu-item .left-sidebar .floor-num{
	width: 30px;
	height: 35px;
	background: #4595C6;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	font: 20px/26px "微软雅黑";
	font-weight: bold;
	color: #fff;
}
.floor-menu-item .left-sidebar .floor-num .m1{
	width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid #FFF;
    position: absolute;
    top: 25px;
    left: 0px;
}
.floor-menu-item .left-sidebar .left-tit{
	float: right;
	padding: 15px 0px 20px 50px;
}
.floor-menu-item .left-sidebar .left-tit li{
	float: left;
	float: left;
    width: 78px;
    line-height: 23px;
}
.floor-menu-item .left-sidebar .left-tit li a:hover{
	color: red;
}
.floor-menu-item .left-sidebar .left-ads{
	width: 220px;
    height: 250px;
    text-align: center;
    border-bottom: 1px solid #DDD;
    padding: 0px 0px 20px 0px;
}
.floor-menu-item .left-sidebar .left-ads img{
	width: 212px;
	height: 250px;
}
.floor-menu-item .left-sidebar .recommend{
	width: 220px;
	height: 150px;
	overflow: hidden;
	position: relative;
}
.floor-menu-item span.arrow-s{
	position: absolute;
	display: block;
	width: 28px;
    height: 62px;
    line-height: 62px;
    color: #FFF;
    background-color: #ccc;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    font-family: simsun;
    cursor: pointer;
}
.floor-menu-item .recommend-pre{
	left: 0;
	top:50%;
	margin-top: -31px;
}
.floor-menu-item .recommend-next{
	right: 0;
	top:50%;
	margin-top: -31px;
}
.floor-menu-item .left-sidebar .recommend .recommend-wrap{
	height: 150px;
	width: 165px;
	padding: 0 2px;
	margin: 0 auto;
	top: 0;
	left: 28px;
	position: absolute;
}
.recommend .recommend-wrap li{
	height: 48px;
	border-bottom: 1px solid #DDD;
}
.recommend .recommend-wrap li img{
	height: 48px;
	width:150px
}
.floor-menu-item .right-content{
	-position: relative;
	float: left;
}
.floor-menu-item .right-content1,
.right-content2,
.right-content3,
.right-content4{
	height: 590px;
	width: 975px;
	display: none;
	
	-position: absolute;
	-top: 0;
	-left: 0;
}
.floor-menu-item .right-content .current{
	display: block;
}
.floor-menu-item .right-content ul li{
	float: left;
}
.floor-menu-item .right-content .goods-group1{
	width: 390px;
	height: 360px;
}
.floor-menu-item .right-content .goods-group1 .goods-box{
	width: 389px;
	height: 174px;
	overflow: hidden;
	position: relative;
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: #DDDDDD;
}
.goods-group1 .goods-box .goods-wrap{
	width: 3890px;
	height: 174px;
	
}
.goods-group1 .goods-box .goods-wrap li{
	width: 389px;
	height: 174px;
	float: left;
}
.goods-group1 .goods-box .goods-box-adimg{
	width: 390px;
	height: 185px;	
}
.goods-group1 .goods-box-adimg a{
	width: 194px;
	height: 184px;
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: #DDDDDD;
	display: table-cell;
}
.floor-menu-item .right-content .goods-group2{
	width: 194px;
	height: 359px;
    border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: #DDDDDD;
}
.floor-menu-item .right-content .goods-group3{
	width: 194px;
	height: 358px;
	border-width: 0 1px 0 0;
	border-style: solid;
	border-color: #DDDDDD;
}
.floor-menu-item .right-content .goods-group3 a{
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #DDDDDD;
	float: left;
}
.floor-menu-item .right-content .goods-group4 {
	width: 194px;
	height: 359px;
    border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: #DDDDDD;
}
 .goods-group4 .group4-title{
	width: 170px;
	height: 30px;
	margin: 0 10px;
	text-align: center;
	border-bottom: 1px solid #DDDDDD;
}
.goods-group4 .group4-title h2{
	color: #000;
    font-size: 14px;
    font-weight: bold;
    background: #fff;
    width: 96px;
    position: relative;
    top: 18px;
    left: 40px;
}
.goods-group4 ul{
	width: 100%;
	height: 310px;
	margin-top: 20px;
}
.goods-group4 ul li{
	height: 32px;
	overflow: hidden;
}
.goods-group4 .goods-t{
	margin: 6px 0 6px 5px;
	height: 20px;
}
.goods-group4 .goods-t span{
	width: 20px;
	height: 20px;	
	border-radius: 50%;
	color: #FFFFFF;
	display: inline-block;
	text-align: center;
	line-height: 20px;
	font-weight: bold;
	background: #4896C7;
	float:left;
}
.goods-group4 .goods-t p{
	float:left;
	margin-left: 5px;
	line-height: 20px;
}
.goods-group4 .goods-dec{
	height: 123px;
	width: 100%;
	padding-top: 20px;
	margin-left: 5px;
	position: relative;
	-display: none;
}
.goods-group4 .goods-dec.first{
	-display: block;
}
.goods-group4 .goods-dec img{
	width: 100px;
	height: 100px;
	position: absolute;
	left: 0;
	top:20;
}
.goods-group4 .goods-dec dl{
	position: absolute;
	left: 110px;
	top: 70px;
}
.goods-group4 .goods-dec dl a:hover{
	color: red;
}
.goods-group4 .goods-dec dl:last-child{
	color: red;
}
#container .floor-menu .floor-menu-item .right-content1 .goods-list{
	float: left;
}
#container .floor-menu .floor-menu-item .right-content1 .goods-list li{
	float: left;
	width: 194px;
    height: 230px;
    overflow: hidden;
    text-align: center;
    border-style: solid;
    border-width: 0px 1px 1px 0;
    border-color: #DDDDDD;
}
.right-content1 .goods-list li a{
	margin: 3px auto;
	width: 160px;
	height: 160px;
	display: block;
}
.right-content1 .goods-list li a:hover{
	color: red;
}
.right-content1 .goods-list li img{
	width: 160px;
	height: 160px;
	position: relative;
	top: 0;
}
.right-content1 .goods-list li .goods-list-dec{
	line-height: 16px;
    width: 160px;
    height: 32px;
    margin: 0 auto;
    overflow: hidden;
}
.right-content1 .goods-list li .goods-list-price{
	width: 160px;
	text-align: center;
	margin: 0 auto;
}
.right-content1 .goods-list li .goods-list-price em{
	font-weight: bold;
	color: red;
	font-size: 16px;
	font-family: "微软雅黑";
}
.right-content1 .goods-list li .goods-list-price span{
	text-decoration: line-through;
}
.floor-menu-item .right-content ul.tab li{
	padding: 32px 0;
	float: left;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #DDDDDD;
}
.floor-menu-item .right-content  ul.tab li .li-ct{
	width: 194px;
    height: 230px;
    overflow: hidden;
    text-align: center;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #DDDDDD;
}
.floor-menu-item .right-content ul.tab li .li-ct a{
	margin: 3px auto 3px;
	width: 160px;
	height: 160px;
	display: block;
	-position: relative;
}
.floor-menu-item .right-content ul.tab li .li-ct a:hover{
	color: red;
}
.floor-menu-item .right-content ul.tab li .li-ct img{
	width: 160px;
	height: 160px;
	position: relative;
	top: 0;
}
.floor-menu-item .right-content ul.tab li .li-ct .goods-list-dec{
	line-height: 16px;
    width: 160px;
    height: 32px;
    margin: 0 auto;
    overflow: hidden;
}
.floor-menu-item .right-content ul.tab li .li-ct .goods-list-price{
	width: 160px;
	text-align: center;
	margin: 0 auto;
}
.floor-menu-item .right-content ul.tab li .li-ct .goods-list-price em{
	font-weight: bold;
	color: red;
	font-size: 16px;
	font-family: "微软雅黑";
}
