html,body,#demo{
	width: 100%;
	height: 100%;
}
#part1{
	background-image: url('../img/t1-bg.png');
	background-size: 100% 100%;
}
.wrap{
	position: relative;
	height: 100%;
}
.wrap img{
	display: block;
	position: absolute;
	left: 50%;
}
.p1_text{
	width: 13.653333rem;
	height: 8.426667rem;
	margin-left: -6.8rem;
	z-index: 10;
	top: 10rem;
}
.p1_yuan{
	width: 12.48rem;
	height: 12.821333rem;
	margin-left: -6.24rem;
	top: 8rem;
}
.p1_iconUp{
	width: 1.066667rem;
	height: 0.597333rem;
	margin-left: -0.53rem;
	bottom: 1rem;
	animation: move 2s infinite;
}
@keyframes move{
	0%{
		bottom: 1rem;
	}
	100%{
		bottom: 2rem;
	}
}
#part2{
	background-image: url('../img/t2-bg.png');
	background-size: 100% 100%;
}
.p2_person{
	width: 3.306667rem;
	height: 10.048rem;
	margin-left: -1.65rem;
	top: 2rem;
}
.p2_text{
	width: 6.165333rem;
	height: 5.354667rem;
	margin-left: -3.08rem;
	bottom: 5rem;
}
#part3{
	background-image: url('../img/t3-bg.png');
	background-size: 100% 100%;
}
.p3_text{
	width: 5.632rem;
	height: 6.869333rem;
	margin-left: -2.8rem;
	top: 3rem;
}
.p3_img{
	width: 9.130667rem;
	height: 9.130667rem;
	margin-left: -4.55rem;
	bottom: 4rem;
}
#part4{
	background-color: #F94848;
}
.p4_text1{
	width: 11.434667rem;
	height: 4.416rem;
	margin-left: -5.7rem;
	top: 4rem;
}
.p4_text2{
	width: 11.370667rem;
	height: 2.986667rem;
	margin-left: -5.65rem;
	top: 10rem;
}
.p4_img{
	width: 13.653333rem;
	height: 4.992rem;
	margin-left: -6.8rem;
	bottom: 3rem;
}
#part5{
	background-color: #EC5F55;
}
.p5_img1{
	width: 9.813333rem;
	height: 13.141333rem;
	margin-left: -4.9rem;
	top: 0;
}
.p5_img2{
	width: 9.130667rem;
	height: 10.709333rem;
	margin-left: -4.55rem;
	top: 3.5rem;
}
.p5_text{
	width: 8.661333rem;
	height: 3.946667rem;
	margin-left: -4.3rem;
	bottom: 4rem;
}
#part6{
	background-color: #7876B7;
}
.p6_img1{
	width: 10.346667rem;
	height: 10.346667rem;
	margin-left: -5.17rem;
	top: 2rem;
}
.p6_img2{
	width: 10.069333rem;
	height: 10.325333rem;
	margin-left: -5.03rem;
	top: 4rem;
}
.p6_text{
	width: 7.445333rem;
	height: 4.373333rem;
	margin-left: -3.7rem;
	bottom: 4rem;
}
#part7{
	background-color: #147C79;
}
.p7_img1{
	width: 11.221333rem;
	height: 12.266667rem;
	margin-left: -5.6rem;
	top: 0;
}
.p7_img2{
	width: 10.88rem;
	height: 11.029333rem;
	margin-left: -5.4rem;
	top: 2rem;
}
.p7_text{
	width: 7.445333rem;
	height: 4.288rem;
	margin-left: -3.7rem;
	bottom: 4rem;
}
#part8{
	background-color: #619B51;
}
.p8_img1{
	width: 11.648rem;
	height: 11.648rem;
	margin-left: -5.8rem;
	top: 2rem;
}
.p8_img2{
    width: 9.621333rem;
    height: 10.901333rem;
    margin-left: -4.8rem;
    top: 4rem;
}
.p8_text{
	width: 7.445333rem;
	height: 3.050667rem;
	margin-left: -3.7rem;
	bottom: 4rem;
}
#part9{
	background-color: #5FBDD9;
}
.p9_img{
	width: 11.114667rem;
	height: 20.48rem;
	margin-left: -5.55rem;
	top: 0;
}
.p9_text{
	width: 13.653333rem;
	height: 6.656rem;
	margin-left: -6.8rem;
	bottom: 0;
}
#part10{
	background: url(../img/t10-bg.png);
	background-size: 100% 100%;
}
.p10_img1{
	width: 12.288rem;
	height: 9.664rem;
	margin-left: -6.1rem;
	top: 2rem;
}
.p10_text{
	position: absolute;
	text-align: center;
	width: 100%;
    top: 11.5rem;
    color: #FF811A;
}
.p10_text h3{
	font-size: 22px;
	font-weight: bold;
}
.p10_text p{
	font-size: 18px;
}
.p10_img2{
    width: 6.72rem;
    height: 1.514667rem;
    margin-left: -3.36rem;
    bottom: 6rem;
}
.p10_img3{
	width: 3.818667rem;
	height: 0.917333rem;
	margin-left: -1.9rem;
	bottom: 4rem;
}