html,body{
	width: 100%;
}
.top{
	background: url(../img/t1.jpg) no-repeat center;
	height: 70px;
	width: 100%;
	margin: 0 auto;
}
.container{
	margin: 0 auto;
	width: 1000px;
}
.container .logo{
	padding: 20px 0;
}
.container .logo .wel{
	vertical-align: middle;
	font: 20px/20px "微软雅黑";
}
.container .logo .to-login{
	display: inline-block;
	float: right;
	margin-top: 70px;
	font:14px/16px "";
}
.container .content{
	-webkit-box-shadow: 0px 10px 10px rgba(0,0,0,0.1),1px -2px 20px rgba(0,0,0,0.1) inset;
	width: 100%;
	height: 525px;
}
.container .content .reg-title{
	height: 40px;
	width: 100%;
	border-bottom: 1px solid #D8D8D8;
	text-align: center;
}
.reg-title h2{
	font: 20px/38px "微软雅黑";
	width: 130px;
	color: red;
	border-bottom: 2px solid #FF0000;
	margin: 0 auto;
}
.container .content .reg-content{
	background: #F9F9F9;
    padding: 20px 0 0 0;
    width: 400px;
    margin: 0 auto;
}
.container .content .reg-content div.cBox, 
.container .content .reg-content div.short {
    position: relative;
    width: 100%;
    height: 70px;
    font-family: "微软雅黑";
    font-size: 16px;
}
.container .content .reg-content input {
    font-family: "微软雅黑";
    font-size: 16px;
    border: 1px solid #E6E6E6;
}
.input-40 {
    height: 40px;
    width: 398px;
    text-indent: 10px;
}
.w148 {
    width: 148px;
    height: 40px;
    text-indent: 10px;
}
.fl {
    float: left;
    display: inline;
}
.verify {
	height: 40px;
	width: 102px;
    margin: 0 10px;
    border: 1px solid #ccc;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    background: #fff;
}
a.exchange:hover{
	text-decoration: underline;
	color: red;
}
.cap {
    float: left;
}
.reget {
    width: 148px;
    height: 42px;
    line-height: 40px;
    border: 1px solid #BBB;
    float: left;
    text-align: center;
    margin: 0 80px 0 20px;
    background: #F4F4F4;
    color: #777;
    cursor: pointer;
}
.ml5 {
    margin-left: 5px!important;
}
.vm {
    vertical-align: middle;
}
.submit {
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
    background: url(../img/register.png) no-repeat;
    vertical-align: middle;
    width: 400px;
    height: 40px;
    padding: 0;
    margin: 20px 0;
    border: 0;
    cursor: pointer;
    clear: both;
}
.container .content .reg-content i.correct{
	position: absolute;
    right: 16px;
    top: 13px;
    width: 16px;
    height: 16px;
    background: url(../img/correct.png);
    -display: none;
}
.container .content .reg-content i.correct-short{
	position: absolute;
    left: 125px;
    top: 13px;
    width: 16px;
    height: 16px;
    background: url(../img/correct.png);
    -display: none;
}
.container .content .reg-content i.error{
	background: url(../img/error.png);
	position: absolute;
    right: 16px;
    top: 13px;
    width: 16px;
    height: 16px;
}
.container .content .reg-content i.error-short{
	background: url(../img/error.png);
	position: absolute;
    left: 125px;
    top: 13px;
    width: 16px;
    height: 16px;
}

.container .content .reg-content label{
	clear: both;
    display: none;
    color: red;
    padding-left: 10px;
    line-height: 26px;
    height: 26px;
    width: 210px;
    margin: 0;
    text-indent: 10px;
}
.container .content .reg-content div.tip-yellow{
	color: #000;
    background-color: #fff9c9;
    text-align: left;
    font-size: 12px;
    min-width: 50px;
    max-width: 300px;
    border: 1px solid #c7bf93;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    z-index: 1000;
    padding: 3px 8px;
    position: absolute;
    top: -31px;
    left: 50%;
    display: none;
}
/*.container .content .reg-content .tip-yellow i{
	font-size: 0px;
    line-height: 0;
    width: 0px;
    height: 0px;
    border-width: 5px;
    border-color: #fff9c9 transparent transparent transparent;
    border-style: solid dashed dashed dashed;
    position: absolute;
    bottom: -5px;
}*/
